<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <title></title>
</head>
<body>
  <% include ./partials/header.ejs %>
    Here comes that boi! <br>
    Oh shit waddup! 
  <% include ./partials/footer.ejs %>
</body>
</html>

